$cursor: pointer;
$theme-color: #4F47EB;
$color-white: #FFFFFF;
$border-color: #E7E7EF;
#wlac-main {
  font-family: Helvetica, sans-serif, Arial, sans-serif;
  margin-right: 15px;
  background-color: rgba(248, 248, 252, 1);
  padding: 2rem;
}